#navbarhome {
  /* Formatting */
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-left: 20px;

  /* Font */
  font-family: 'Arial';
  font-weight: bold;
  text-align: left;
  color: #000000;
  font-size: 16px;
}


#navbarlist {
  /* Formatting */
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-left: 20px;

  /* Font */
  font-family: 'Arial';
  font-weight: bold;
  text-align: left;
  color: #000000;
  font-size: 16px;
}

#navbartoggler {
  /* Formatting */
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-left: 20px;

  /* Font */
  font-family: 'Arial';
  font-weight: bold;
  text-align: left;
  color: #000000;
  font-size: 16px;
}

#comparison\.column1 {
  background: #d4d4bc;
}

#comparison\.column2 {
  background: #d4d4bc;
}

.row #mainpageheader h3 {
  /* Formatting */
  background: #d4d4bc;
  padding-top: 25px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;

  /* Font */
  font-family: 'Arial';
  font-weight: bold;
  text-align: left;
  color: #000000;
  font-size: 18px;
}

#mainpage\.smallcolumn.col-md-4 {
  /* Formatting */
  background: #d4d4bc;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;

  /* Font */
  font-family: 'Arial';
  font-weight: bolder;
  text-align: left;
  color: #000000;
  font-size: 12px;
}

#mainpage.col-md-7 {
  /* Formatting */
  background: #d4d4bc;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;

  /* Font */
  font-family: 'Arial';
  font-weight: bolder;
  text-align: left;
  color: #000000;
  font-size: 16px;
}



h1 {
  /* Formatting */
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

  /* Font */
  font-family: 'Arial';
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font: #fd0000;
  font-size: 20px;
}

h2 {
  /* Formatting */
  padding-top: 25px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;

  /* Font */
  font-family: 'Arial';
  font-weight: bold;
  text-align: left;
  color: #000000;
  font-size: 20px;
}

h3 {
  /* Formatting */
  padding-top: 25px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;

  /* Font */
  font-family: 'Arial';
  font-weight: bold;
  text-align: left;
  color: #000000;
  font-size: 18px;
}

h6 {
  /* Formatting */
  padding-top: 50px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;

  /* Font */
  font-family: 'Arial';
  font-weight: bold;
  text-align: center;
  color: #033f11;
  font-size: 16px;
}

#indexcontainer{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}


.img-thumbnail {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

p {
  /* Formatting */
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;

  /* Font */
  font-family: 'Arial';
  font-weight: lighter;
  text-align: left;
  color: #000000;
  font-size: 16px;
}

li {
  /* Formatting */
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-left: 20px;

  /* Font */
  font-family: 'Arial';
  font-weight: lighter;
  text-align: left;
  color: #000000;
  font-size: 16px;
}

.table {
  /* Formatting */
  background: #d4d4bc;
  padding-top: 1000px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: 1px solid;

  /* Font */
  font-family: 'Arial';
  font-weight: lighter;
  color: #ff0000;
  font-size: 12px;
}

.navbar {
  /* Formatting */
  padding: 10px;
  background: #d4d4bc;
  padding-top: 10px;
  padding-right: 10px;

  /* Font */
  font-family: 'Arial';
  color: #000000;
  font-weight: bolder;
}

.navbar-right-custom {
  /* Box-model */
  padding-top: 6px;
  padding-right: 20px;

  /* Font */
  font-family: 'Arial';
  font-weight: lighter;
  color: #000000;
}




