body {
  background-color: #2dfcfc;
}

h1 {
  color: #2dfcfc;
  margin-left: 20px;
}






.navbar {
  /* Box-model */
  padding: 10px;
  background: #2dfcfc;
  padding-top: 10px;
  padding-right: 10px;
  
  /* Typography */
  font-family: 'Arial';
  font-weight: bolder;
  color: #ff0000;
  }

.navbar-right-custom {
/* Box-model */
padding-top: 6px;
padding-right: 20px;

/* Typography */
font-family: 'Arial';
font-weight: lighter;
color: #000000;
}